body{
  font-family: 'Oswald', sans-serif;
  background-color: #f7b888;
}

#container {
  width:400px;
  padding: 100px;
  margin-bottom: 150px;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 50px;
  background-color: #ebeced;
  border-radius: 10px;
  box-shadow: 10px 10px #cfd0d1;
  text-align: left
}

.answers label{
  display: block;
}

.answers {
  margin-bottom: 20px;
}

.question{
	font-weight: 600;
}

button{
  background-color: #cfd0d1;
  height: 30px;
  border-radius: 5px;
}
